.basket-container{
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;

}
.basket-container h3{
    margin-bottom: 15px;
    font-size: 20px;
}
.basket-container .total{
    border-top:  1px solid #ddd;
    padding-top:10px ;
    margin-top: 10px;
    font-size:18px;
    text-align: right;
    color: red;
    font-weight: bold;

}
.basket-reset-btn{
    background-color: black;
    color: white;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    
}